@import 'parameters';

// global
body {
  font-family: $rlw;
  font-weight: $nml;
  color: $dark;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

%align-center {
  display: flex;
  align-items: center;
}

.header {
    background-color: $dark;
    height: 10vh;
    &-container {
      max-width: 100%;
      height: 10vh;
      @extend %align-center;
      justify-content: space-around;
    }
    &_logo{
      color: $light;
      text-align: center;
      width: 160px;
      height: auto;
      max-width: 160px;
      max-height: 160px;
      cursor: pointer;
      img {
        width: -webkit-fill-available;
      }
    }
    &_buttons{
      display: flex;
      gap: 2rem;
      transition: all 3s ease-in-out;
      a{
        color: $light;
        font-size: 1.8rem;
        :hover{
          color: #00e5fa;
        }
      }
    }
    &-extra{
      background-color: #00e5fa;
      text-align: center;
      color: #fff;
      h3{
        font-weight: 400;
        font-size: 1rem;
      }
    }
}
.square{
  max-width: 450px;
  max-height: 500px;
  @extend %align-center;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  &-title{
    margin-top: 2.5vh;
    margin-bottom: 1.25vh;
    font-size: 1.4rem;
  }
  &-button{
    padding: 10px;
    border-radius: 10px;
    background-color: #25D366;
    color: #fff;
    text-decoration: none;
    margin-top: 1.25vh;
    margin-bottom: 2.5vh;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    &:hover{
      background-color: #121212;
    }
  }
  &-price{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(94, 243, 94);
    margin-top: 1.25vh;
    margin-bottom: 1.25vh;
  }
  &-img{
    max-width: fit-content;
    max-height: fit-content;
  }
  &-info{
    background-color: $dark;
    width: 100%;
    height: 3.5vh;
    border-radius: 0px 0px 10px 10px;
    @extend %align-center;
    justify-content: center;
    cursor: pointer;
    a{
      color: $light;
      font-weight: normal;
      text-align: center;
      font-size: 1.2rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}
.grid{
  width: 50%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  &-title {
    margin-bottom: 2.5vh;
    font-size: 2rem;
    text-align: center;
  }
  &-buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.25vh;
    margin-bottom: 2.5vh;
    &--left, &--right{
      flex-basis: 48%;
      margin: auto;
      text-align: center;
      p{
        margin-bottom: 1rem;
      }
      div{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
      button{
        background: none;
        border: none;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover{
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          color: #00e5fa;
        }
      }
    }
  }
  &-list{
    @extend %align-center;
    justify-content: space-around;
    flex-wrap: wrap;
    > .square {
      flex-basis: 30%;
      @include tablet {
        flex-basis: 48%;
      }
      @include mobile {
        flex-basis: 100%;
      }
    }
    row-gap: 5rem;
  }

}

.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $dark;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  &:hover {
    background-color: $dark;
    color: $primary;
  }
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.product{
  &_arrow{
    position: absolute;
    font-size: 2em;
    color: $secondary;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover{
      color: $dark;
    }
    @include mobile {
      top: 12vh;
    }
  }
  &_title{
    margin: 1rem;
    margin-bottom: 10vh;
    h1{
      text-align: center;
      font-size: 4rem;
      color: $secondary;
      @include mobile {
        font-size: 3rem;
        margin-top: 10vh;
      }
    }
  }
  &_show{
    margin-top: 5vh;
    @extend %align-center;
    justify-content: space-evenly;
    @include tablet {
      flex-direction: column;
      height: auto;
    }
    height: 25vh;
    &-left{
      flex-basis: 40%;
      @include tablet {
        margin-bottom: 5vh;
      }
      cursor: pointer;
      border: none;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      transition: all 0.2s ease-in-out;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
      &--content{
        @extend %align-center;
        justify-content: center;
        width: 100%;
        &.on{
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.5);
          z-index: 2;
          cursor: pointer;
        }
        img{
          width: 50%;
          &.on{
            position: fixed;
            width: 50vw;
            height: auto;
            top: 10vh;
            left: 25vw;
            right: 0;
            bottom: 0;
            z-index: 2;
            cursor: pointer;
            @include tablet {
              width: 100%;
              top: 25%;
              left: 0;
            }
          }
        }
      }
    }
    &-right{
      flex-basis: 40%;
      &--content{
        @extend %align-center;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        h3{
          font-size: 2rem;
        }
        p{
          &:nth-of-type(1){
            font-size: 1.4rem;
            text-align: center;
          }
          &:nth-of-type(2){
            font-size: 1.3rem;
          }
          &:nth-of-type(3){
            font-size: 1.3rem;
          }
        }
        button{
          padding: 1rem;
          margin-top: 5rem;
          @include mobile {
            margin-top: 2.5rem;
          }
          background: none;
          font-family: $rlw;
          font-size: 1rem;
          cursor: pointer;
          border: none;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          transition: all 0.2s ease-in-out;
          &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          }
        }
        &_especificaciones{
          display: none;
          &.on{
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
            cursor: pointer;
            div{
              width: 50%;
              background-color: #ececec;
              padding: 15rem;
              position: fixed;
              top: 25vh;
              left: 25%;
              right: 0;
              border: none;
              border-radius: 10px;
              @include tablet {
                width: 100%;
                padding: 15rem 0;
                left: 0;
              }
              p{
                color:$dark;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  &_priceconverter{
    @extend %align-center;
    flex-direction: column;
    margin: 10vh auto 12.2vh auto;
    h3{
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    a{
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;
      padding: 1rem;
      background: none;
      font-family: $rlw;
      font-size: 1.2rem;
      color: $dark;
      text-decoration: none;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      transition: all 0.2s ease-in-out;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
    }
  }
}

.info{
  margin-top: 2.5vh;
  @extend %align-center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #00e5fa;
  color: #fff;
  &-section{
    flex-basis: 30%;
    text-align: center;
    font-size: 0.8rem;
  }
}

.footer {
  background-color: $dark;
  height: 10vh;
  @include mobile {
    height: auto;
  }
  &-container {
    max-width: 100%;
    height: 10vh;
    @include mobile {
      height: auto
    }
    @extend %align-center;
    flex-direction: column;
    justify-content: space-around;
  }
  &_text{
    color: $light;
    text-align: center;
    @include mobile {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
    ul{
      list-style: none;
      @extend %align-center;
      gap: 1rem;
      font-size: 0.75rem;
      @include mobile {
        margin-top: 1rem;
        flex-direction: column;
      }
      li{
        &:nth-of-type(4){
          color: $primary;
          @include mobile {
            margin-top: 1rem;
          }
          font-style: italic;
        }
      }
    }
  }
  &_buttons{
    display: flex;
    gap: 2rem;
    a{
      color: $light;
      font-size: 1.5rem;
      :hover{
        color: #00e5fa;
      }
    }
  }
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
}
.my-float{
  margin-top: 10px;
  font-size: 2.4rem;
}